<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-contact | PVI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('css/video.css') }}" />
    <style>
        .image {
            width: 62%;
            margin-top: 20px;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .demos {
            width: 252px!important;
            background-color: #ffdb2e!important;
            color: black!important;
            margin-top: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>

<div class="col-lg-12 col-md-4 col-sm-4 col-xs-4" align="center">
    <img class="image" src="{{ asset('img/lien/10.png') }}"  class="responsive">



</div>

<div class="col-lg-12 col-md-4 col-sm-4 col-xs-4" align="center">
    <img class="image" src="{{ asset('img/lien/11.png') }}" class="responsive">
    <div align="center" class="responsive">
        <a href="http://www.gmdrania.telecontact.ma/index.html"  target="_blank" class="btn demos" type="button">Visualiser un exemple</a>
    </div>

</div>


</body>
</html>
